<html ng-app="resumeApp">
<head>
    
    <title>Bhavika Tekwani</title>

    <link rel="stylesheet" href="bootstrap.min-united.css">
    <script src="scripts/jquery-1.11.3.min.js"></script>
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/mainController.js"></script>
    <script src="scripts/contactController.js"></script>
    <script src="scripts/skillsController.js"></script>
    <script>
        $(function () {
            $("#menu").load("menu.html");
        });


    </script>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="menu"></div>

   <div class="jumbotron text-center" ng-controller="mainController" id="aboutme">
        <h1>{{who}}</h1>
        <p>
            {{message}} </br>
           {{extra}} </br> 
           {{hireme}}</br>
        </p>
   </div>


    <div ng-view></div>

</body>

</html>
