﻿<div id="menu">
		<ul class="nav nav-pills nav-justified">
			      <li class="active"><a href='#'>Home</a></li>
                  <li><a href='/#skills' >Skills</a></li>
                  <li><a href='/#contact'>Contact</a></li>
		</ul>
</div>